/*General*/

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Mulish', sans-serif;  
   color: black;
   font-size: 1em;
}

a{ 
    text-decoration: none;
}

h1{
    font-size: 60px;
    font-weight: 900;
    display: block;
    font-family: 'Nothing You Could Do', cursive;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.375em;
    line-height: 1.2;
    font-size: 35px;
    font-weight: bold;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.lm{
    color: #f92c8b;
    margin-top: 0;
    margin-bottom: 7px;
}

.container0{
    margin: auto;
	max-width: 1300px;
	overflow: auto;
	padding: 0 20px;  
}

body{
    background-color: whitesmoke;
}

::-webkit-scrollbaR {
    width: 15px;} 

::-webkit-scrollbar-track {
    background: whitesmoke; 
  }
::-webkit-scrollbar-thumb {
    background: #f92c8b; 
    border-radius: 10px; 
  }
::-webkit-scrollbar-thumb:hover {
    background: rgb(5, 131, 242); 
}
  
/*navbar*/        

header{
    background-color: rgb(242, 182, 221);
    height: 10vh;
    width: 100%;
    clear: both;
    position:fixed; 
}

.menu-nav{
   padding: 20px;
   cursor: pointer;
   overflow: auto;   
}

.menu-nav a{
    color: black;
}

.menu-nav ul{
       float: right;
       list-style: none;
       font-size: 14px;
}
   
.menu-nav ul li{
       float: left;
       text-align: center;
       justify-content: space-between;
       margin-bottom:150px ;
}     

.menu-nav ul li a{
    display: block;
    padding: 20px;    
}

.menu-nav ul li a:hover {
    color: white;
}

.menu-nav .btn-contact{
    background-color:rgb(5, 131, 242);
    color: black;
    padding: 8px;
    text-decoration: none;
    border-radius: 40px;
    margin-top:10px ;
}  

.menu-nav .btn-contact:hover {
    background-color: rgb(7, 105, 192);
}
   
/*hi*/

.container1{   
    min-height: 100vh;		
    display: flex;
}    

.hello-me{    
    margin-top: 100px;
	max-width: 1300px;
	padding: 20px;           
}

.button{
   margin-top: 50px;
}

.buttonwhati-do{
    cursor: pointer; 
    color: white;
    border: none;
    border-radius: 40px;
    padding: 10px 30px;
    background-color: rgb(5, 131, 242);
    font-weight: 600;
}

.buttonwhati-do:hover {
    background-color: rgb(7, 105, 192)
}

.hello-html{
    padding: 110px 40px 130px;
    overflow: hidden;
    width: 100%;  
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    min-height: 700px;
    margin: auto;
}

.mipicture{
    height: 300px;
    text-align: right;
    margin-left: 100px;  
}

.h{
    font-weight: 900;
    font-size: 30px;
}

/*knowledges*/

.knowledges-skills{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 110px 0px 130px;
    background-color: rgb(242, 196, 208);
    min-height: 100vh;
    margin-top: 90px;   
}

.lorem{
    justify-content: center;
    text-align: center;
    padding: 40px 60px 80px 40px;
    display: block;
    max-width: 400px;
    margin: auto;
}

.knowledges-skills{
    display: flex
}

.knowledges{
    margin: auto;
    width: 40%;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 150px 150px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: auto;
    width: auto;
    min-height: 300px;
    max-width: 300px;      
}

.grilla-item{
    display: inline-block;
    padding: 30px 30px 30px 30px;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    border: 2px solid #f92c8b;
    border-radius: 10px;
    font-size: 0.8em;
    font-weight: bolder;
}

/*thephrase*/

.thephrase{
    background-image: url(imagenes/holographic-pastel-wavy-pattern-design-space.jpg);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    min-height: 80vh;
    width: 100%;
    margin: auto;     
}

.quotes-png{
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100px;
    max-width: 100px;
    text-align: center;
    margin: auto; 
    padding: 20px;     
}

.phrase{
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: 20px;
}

/*proyects*/

.proyects-several{
    background-color: rgb(243, 205, 229) ;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proyects-html{
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
}

.flex-proyects{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: auto;  
}

.flex-proyects div img{
    height: 200px;
    width: 80%;
}

.flex-proyects div{
    padding: 5px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    font-weight: bold;
    font-style: normal;
    align-items: center;
    text-align: center;
    margin: 10px;   
}

.proyect-{
    flex-grow: 1;
}

.proyect- img{
    height: auto;
    width: auto;
    margin: 5px;    
    cursor: pointer;
}

.flex-proyects div:hover {
    border: 2px solid #f92c8b;
}

.proyect-1b{
    width: 31.5%;
}

/*contact*/

.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 110px 0px 130px;
    background-color:rgb(5, 131, 242);
    min-height: 100vh;
    margin-top: 90px; 
    margin: auto;
    width: 100%;    
}

.container-2 {
    display: flex;
    width: 70%;
    min-height: 550px;
    border: 2px solid rgb(19, 10, 203);
    border-radius: 10px;
    margin: auto;
    background-color: whitesmoke;   
}  

.c2{
    display: block;
    flex-direction: column;
    text-align: left;  
    margin-left: 60px;
    height: 500px;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 30px;      
}

.contact-title{
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0px; 
}

.c2-text{
    text-align: left;
    padding: 20px 10px 30px;
}

.ullist{
    padding: 6px 0px 1px 1px;   
}

.ullist i{
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;      
}  

.c2 li{
    list-style: none;
    padding: 10px;    
}

.c2 i:hover{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(247, 218, 236);
    cursor: pointer;
}

.c2 li:active{
    width: 35%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(247, 218, 236, 0.4);
    cursor: pointer;
}

.mailcontact {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.mail-contact{
    height: 20px;
    margin-left: 30px;
}

.mail-contact img:hover{
    padding: 18px;
    border-radius: 20px;
    background-color: rgb(247, 218, 236);
    cursor: pointer;   
}

.mailcontact :active{
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(247, 218, 236, 0.4);
    cursor: pointer;
}

.c3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 50%;
    margin-top: 40px;   
}

.c3 h2{
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-top: 60px;
    margin-left: 0px;
    width: 80%;
}

.c3 form label{
    display: flex;
    padding: 2px;
}

.c3 form input{
width: 98%;
padding: 3px;
border: none;
border-radius: 12px;
background-color: rgb(247, 218, 236);
}

.c3 form textarea{
    min-height: 150px;
    max-height: 100px;
    max-width: 390px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background-color: rgb(247, 218, 236);    
}

.firstline input:hover{
    border: 2px solid #f92c8b;
}

.firstline3-form input:hover{
    border: 2px solid #f92c8b;
}

.firstline3-form input:focus:invalid{
    outline: 2px solid red;
}

.c3 textarea:hover {
    border: 2px solid #f92c8b;
}

.firstline{
    display: flex;
    flex-direction: row;
}

.firstline1-form{
    display: flex;
    flex-direction: column;
}

.firstline2-form{
    display: flex;
    flex-direction: column;
}

.firstline3-form{
    display: flex;
    flex-direction: column;
}

.bodymessage{
    display: flex;
    flex-direction: column;
}

.btn-send{
    background-color:rgb(5, 131, 242);
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 0;
    border: 0;
    display: flex;
    align-items: flex-start;
}  

.btn-send:hover {
    background-color: #f92c8b;
    cursor: pointer;
}


/*footer*/

.footy{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-image: url(imagenes/holographic-purple-water-ripple-background-copy-space.jpg);
    padding: 20px 20px 60px;
    min-height: 10vh; 
    min-width: 100%;
}

.footydisplay nav ul{
    cursor: pointer;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    font-weight: 50px;
    margin-bottom: 5px;
}

.footydisplay nav li{
    margin-top: 5px;
    padding: 10px;
    justify-content: space-around;
}

.footydisplay nav ul li a:hover{
    color: whitesmoke;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons ul{
    width: fit-content;
    list-style: none;
    margin-top: 10px;
    display: flex; 
    padding: 20px;    
}

.icons li{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    background-color: whitesmoke;
    margin-left: 10px; 
    margin-right: 10px;      
} 

.icons li:hover{
    cursor: pointer;
    background-color: rgb(140, 66, 120);
    border: 1px solid whitesmoke;
    border-radius: 20px;
}

.icons i{
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    height: max-content;
}

.icons img{
    height: 20px;
    justify-content: left;     
}

.footy p{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*responsive tablet*/

@media (max-width: 880px){
    .navbar{
        display: none;
    }
    .hello-html{   
        width: 100%;		
        display: flex;
        flex-direction: column;
        text-align: center;
    } 
    .mipicture{
        text-align: center;
        margin-left: 0px;
        margin-top: 20px; 

    }
    .proyect-1b{
        width: 47%;
        height: 260px;
    }

    .contact{
        flex-direction: column;
    }
    .container-2 {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 130vh ;
        margin: auto;    
    } 
    .c3{
        display: flex;
        flex-direction: column;     
        height: 200px;
        width: 90%;
        margin-top: 20px;}        
}


/*responsive cellphone*/

@media (max-width: 480px){
    .navbar{
        display: none;
    }
    .proyect-1b{
        width: 100%;
        height: 260px;
    }
    .container-2 {
        display: flex;
        flex-direction: column;
        width: 80%;
        min-height: 150vh ;             
    }
   
    .c3{
        display: flex;
        flex-direction: column;     
        height: 200px;
        width: 80%;
        margin-top: 40px;
        margin-left: 20px;
    } 
    .c3 h2{       
        font-weight: bold;
        font-size: 50px;
        margin-bottom: 10px;
        margin-top: 90px;
        align-items: left;
        width: 100%;
    }
    .c2{
        display: block;
        flex-direction: column;
        text-align: left;  
        margin-left: 20px;
        height: 500px;
        width: 50%;
        margin-top: 20px;
        margin-bottom: 30px;      
    }
    .ullist i{
        flex-direction: column;
        margin-left: 10px;
        margin-top: 30px;      
    }
    .mail-contact{
        height: 20px;
        margin-left: 10px;
    }
    .mailcontact {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
  
}


